.app {
  text-align: center;
  margin-top: 2rem;
}

.square {
  border: 1px solid black;
  height: 3rem;
  width: 3rem;
  outline: none;
  vertical-align: top;
}

.reset-button {
  margin-top: 1.5rem;
  background-color: salmon;
  border-radius: 4px;
  height: 2rem;
  width: 6rem;
  box-shadow: 1px 1px darkgrey;
  font-size: 17px;
  outline: none;
}

.dropdown {
  margin-top: 2rem;
  width: 10rem;
  margin-left: 5rem;
}

.drop {
  font-size: 13px;
  width: 10rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  text-align: center;
  width: 10rem;
  display: none;
}

.dropdown-item {
  text-decoration: none;
  display: block;
  margin-top: 15px;
}

.dropdown-item:hover {
  background-color: gray;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
